*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 10px;
	/*background-color: #005196;*/
	 background-image: linear-gradient(to right, #005196 , rgb(12, 55, 92));
	color: white;
	font-family: 'Architects Daughter', cursive;
}

.title-bar{
	/*border: 1px solid;*/
	display: flex;
	justify-content: space-around;
	margin-bottom: 0.8em;
	background: rgba(0, 0, 0, 0.7)
}

.title-bar span{
	font-size: 2rem;
}


.container{
	display: flex;
	justify-content: space-between;
	/*border: 1px solid red;*/
}

.text-container{
	padding: 0.5em;
	width: 52%;
	/*border: 1px solid green;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.text-container p,li{
	font-size: 1.1rem;
	line-height: 1.5em;
}

.text-container ul{
	list-style: none;
}

.img-container{
	display: flex;
	width: 43%;
	/*border: 1px solid blue;*/
	align-items: center;
	justify-content: space-around;
}
.img-text{
	font-family: 'Secular One', sans-serif;
	width: 65%;
	font-weight: 700;
	font-size: 1.8rem;
}

.img-text span{
	/*border: 1px solid black;*/
	display: flex;
}
.actual-img{
	width: 42%;
}

.actual-img img{
	width: 100%;
}

.proceed{
	width: 70%;
	margin: 1em auto;
	padding: 0.2em;
	font-size: 1.5rem;
	outline: none;
	font-weight: 700;
	background-color: #ffd700;
	border: 0;
}

.proceed:hover{
	transition: 0.33s ease-in-out;
	cursor: pointer;
	background-color: #005196;
}

@media screen and (max-width: 800px) {
.container{
	flex-direction: column;
}
.text-container{
	width: 100%;
}
.img-container{
	width: 100%;
	align-items: flex-start;
	margin-top: 1.5em; 
}
.img-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.2rem;
	letter-spacing: 0.2em;
}
.actual-img{
	height: 25vh;
	width: 20%;
}

.actual-img img{
	height: 100%;
}

}